h1 {
   text-align: center;
   margin: 100px;
   font-size: 128px;
}
 
.Mission{
   text-align: center;
   font-size: 32px;
   padding-top: 100px;
   padding-left: 100px;
   padding-right: 100px;
   width: auto;
}
 
.Description{
   text-align: center;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 35px;
   padding-bottom: 80px;
   width: auto;
}
 
.footer {
   text-align: center;
   color: white;
   font-size: 30px;
   margin-top: 5px;
   padding-top: 20px;
   background-color: dodgerblue;
   position: absolute;
   width: 100%;
}
